{% extends 'RandoAmisSecours/base.html' %}
{% load i18n %}{% load static %}

{% block title %}{% trans "Reporting" %}{% endblock %}

{% block nav-reporting %}active{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
  <li><a href="{% url 'reporting.index' %}">{% trans "Reporting" %}</a></li>
  <li class="active">{% trans "Users" %}</li>
{% endblock %}

{% block body %}
<div class="page-header">
  <h2>{% trans "User reporting" %}</h2>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="modal-header" id="subscription">Subscription</h4>
    <div id="container-subscription" style="min-width: 500px; height: 400px; margin: 0 auto"></div>
  </div>
  <div class="col-md-12">
    <h4 class="modal-header" id="last-login">Last login</h4>
    <div id="container-last-login" style="min-width: 500px; height: 400px; margin: 0 auto"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% get_static_prefix %}RandoAmisSecours/js/highcharts-v3.0.10.js"></script>

<script>
$(function () {
  $('#container-subscription').highcharts({
    chart: {
      type: 'area',
      zoomType: 'xy'
    },
    title: {
      text: 'Subscription by date'
    },
    xAxis: {
      labels: {
        formatter: function() {
          var d = new Date({{ now }});
          d.setDate(d.getDate() - (365 - this.value));
          return (d.getMonth() + 1) + '-' + d.getFullYear();
        }
      }
    },
    yAxis: {
      title: {
        text: 'New users'
      },
      labels: {
        formatter: function() {
          return this.value;
        }
      }
    },
    tooltip: {
      formatter: function() {
        var d = new Date({{ now }});
        d.setDate(d.getDate() - (365 - this.x));
        var d_str = d.getDate() + '-' + (d.getMonth() + 1) + '-' + d.getFullYear();
        return d_str + '<br />' + this.y + ' new users';
      }
    },
    plotOptions: {
      area: {
        marker: {
          enabled: false,
          symbol: 'circle',
          radius: 2,
          states: {
            hover: {
                enabled: true
            }
          }
        }
      }
    },
    series: [{
      name: 'Users',
        data: [{% for day in joining_dates %}{{ day }},{% endfor %}]
    }]
  });

  $('#container-last-login').highcharts({
    chart: {
      type: 'area',
      zoomType: 'xy'
    },
    title: {
      text: 'Last login by date'
    },
    xAxis: {
      labels: {
        formatter: function() {
          var d = new Date({{ now }});
          d.setDate(d.getDate() - (365 - this.value));
          return (d.getMonth() + 1) + '-' + d.getFullYear();
        }
      }
    },
    yAxis: {
      title: {
        text: 'Number of users'
      },
      labels: {
        formatter: function() {
          return this.value;
        }
      }
    },
    tooltip: {
      formatter: function() {
        var d = new Date({{ now }});
        d.setDate(d.getDate() - (365 - this.x));
        var d_str = d.getDate() + '-' + (d.getMonth() + 1) + '-' + d.getFullYear();
        return d_str + '<br />' + this.y + ' user logged in';
      }
    },
    plotOptions: {
      area: {
        marker: {
          enabled: false,
          symbol: 'circle',
          radius: 2,
          states: {
            hover: {
                enabled: true
            }
          }
        }
      }
    },
    series: [{
      name: 'Users',
        data: [{% for day in last_logins %}{{ day }},{% endfor %}]
    }]
  });

});
</script>
{% endblock %}
