{% extends 'RandoAmisSecours/base.html' %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block style %}
  .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'accounts.profile' %}">{% trans "Account" %}</a> <span class="divider">/</span></li>
  <li class="activate">{% trans "Login" %}</li>
{% endblock %}

{% block body %}
<div class="container">
  {% if form.errors %}
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert" type="button"><i class="icon-remove"></i></button>
      {% trans "<strong>Wrong username or password</strong>: Note that both fields may be case-sensitive" %}
    </div>
  {% endif %}

  <form class="form-signin" method="post" action="{% url 'accounts.login' %}">
    {% csrf_token %}
    <h2 class="form-signin-heading">{% trans "Please sign in" %}</h2>
      {{ form.username }}
      {{ form.password }}
    <button class="btn btn-large btn-primary" type="submit">{% trans "Sign in" %}</button>
    <input type="hidden" name="next" value="{{ next }}" />
    <a href="{% url 'accounts.register' %}">{% trans "Create an account" %}</a>
  </form>
</div>
{% endblock %}
