{% extends 'RandoAmisSecours/base.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
  <li><a href="{% url 'accounts.profile' %}">{% trans "Account" %}</a></li>
  <li class="activate">{% trans "Change password" %}</li>
{% endblock %}

{% block body %}
<div class="page-header">
  <h1>{% trans "Change password" %}</h1>
</div>

<div class="row">
<div class="col-md-12">
  <form class="form-horizontal" role="form" action="." method="post">
    {% csrf_token %}
    <div class="form-group{% if form.old_password.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_old_password">{% trans "Old password" %}</label>
      <div class="col-md-4">
        {{ form.old_password }}
        {% for error in form.old_password.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="form-group{% if form.new_password1.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_new_password1">{% trans "New password" %}</label>
      <div class="col-md-4">
        {{ form.new_password1 }}
        {% for error in form.new_password1.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="form-group{% if form.new_password2.errors %} has-error{% endif %}">
      <label class="col-md-2 control-label" for="id_new_password2">{% trans "New password" %}</label>
      <div class="col-md-4">
        {{ form.new_password2 }}
        {% for error in form.new_password2.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6 col-md-offset-2">
        <button class="btn btn-primary" type="submit">{% trans "Change" %}</button>
      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}
