{% extends 'RandoAmisSecours/base.html' %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'accounts.profile' %}">{% trans "Account" %}</a> <span class="divider">/</span></li>
  <li class="activate">{% trans "Password reset confirmation" %}</li>
{% endblock %}

{% block body %}
{% if validlink %}
<div class="page-header">
  <h1>{% trans "Enter new password" %}</h1>
</div>

<div class="row">
  <div class="span12">
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    <form action="." method="post" class="form-horizontal">
      {% csrf_token %}
      <div class="control-group{% if form.new_password1.errors %} error{% endif %}">
        <label class="control-label" for="id_new_password1">{% trans "New password:" %}</label>
        <div class="controls">
          {{ form.new_password1 }}
          {% for error in form.new_password1.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group{% if form.new_password2.errors %} error{% endif %}">
        <label class="control-label" for="id_new_password2">{% trans "Confirm password:" %}</label>
        <div class="controls">
          {{ form.new_password2 }}
          {% for error in form.new_password2.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="span12">
        <div class="form-action">
          <button type="submit" class="btn btn-primary">{% trans "Change my password" %}</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% else %}
<div class="page-header">
  <h1>{% trans "Password reset unsuccessful" %}</h1>
</div>

<div class="row">
  <div class="span12">
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
  </div>
</div>
{% endif %}
{% endblock %}
