{% extends 'RandoAmisSecours/base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
  <li class="active">{% trans "Account" %}</li>
{% endblock %}

{% block body %}
<div class="page-header">
  <h2>{% trans "My profile" %}</h2>
</div>

<div class="row">
  {% if messages %}
  <div class="span12">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags|default:'error' }}">
      <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
      <strong>{{ message.tags|default:'error'|capfirst }}:</strong> {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="span12">
    {% url 'outings.create' as URL %}
    <h3>{% trans "Outings" %} <small><a href="{% url 'outings.create' %}">({% trans "new" %})</a></small></h3>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#current" data-toggle="tab">{% trans "Current" %}</a></li>
        <li><a href="#draft" data-toggle="tab">{% trans "Draft" %}</a></li>
        <li><a href="#finished" data-toggle="tab">{% trans "Finished" %}</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="current">
          {% if outings %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Begin" %}</th>
                <th>{% trans "End" %}</th>
                <th width="8%"></th>
                <th width="8%"></th>
              </tr>
            </thead>
            <tbody>
            {% for outing in outings %}
              {% if outing.is_running %}
              <tr class="success">
              {% elif outing.is_late %}
              <tr class="warning">
              {% elif outing.is_alerting %}
              <tr class="error">
              {% else %}
              <tr>
              {% endif %}
                <td><a href="{% url 'outings.details' outing.pk %}">{{ outing.name }}</a></td>
                <td>{{ outing.begining|naturaltime }}</td>
                <td>{{ outing.ending|naturaltime }}</td>
                <td><a href="#okModal{{ outing.pk }}" role="button" class="btn btn-mini btn-success" title="{% trans "finish" %}" data-toggle="modal"><i class="icon-ok-sign"></i></a><a href="#" class="btn btn-mini btn-warning" title="{% trans "late" %}"><i class="icon-time"></i></a>
                  <div id="okModal{{ outing.pk }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="okModal{{ outing.pk }}Label" aria-hidden="true">
                    <div class="modal-header">
                      <button type="button" class="close" data-div="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                      <h3 id="okModal{{ outing.pk }}Label">{% trans "Finishing outing" %}</h3>
                    </div>
                    <div class="modal-body">
                      <p>{% blocktrans with outing.name as name %}Confirm that you are back home safe from «{{ name }}» ?{% endblocktrans %}</p>
                    </div>
                    <div class="modal-footer">
                      <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                      <a href="{% url 'outings.finish' outing.pk %}" class="btn btn-success">{% trans "Finish" %}</a>
                    </div>
                  </div>
                </td>
                <td><a href="{% url 'outings.update' outing.pk %}" class="btn btn-mini btn-info" title="{% trans "update" %}"><i class="icon-pencil"></i></a><a href="#deleteModal{{ outing.pk }}" role="button" class="btn btn-mini btn-danger" title="{% trans "delete" %}" data-toggle="modal"><i class="icon-trash"></i></a>
                  <div id="deleteModal{{ outing.pk }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ outing.pk }}Label" aria-hidden="true">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                      <h3 id="deleteModal{{ outing.pk }}Label">{% trans "Delete outing" %}</h3>
                    </div>
                    <div class="modal-body">
                      <p>{% blocktrans with outing.name as name %}Are you sure you want to delete the outing: «{{ name }}» ?{% endblocktrans %}</p>
                    </div>
                    <div class="modal-footer">
                      <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                      <a href="{% url 'outings.delete' outing.pk %}" class="btn btn-danger">{% trans "Delete" %}</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>{% trans "No current outings" %}</p>
          {% endif %}
        </div>
        <div class="tab-pane" id="draft">
          {% if draft_outings %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Begin" %}</th>
                <th>{% trans "End" %}</th>
                <th width="12%"></th>
              </tr>
            </thead>
            <tbody>
            {% for outing in draft_outings %}
              <tr>
                <td><a href="{% url 'outings.details' outing.pk %}">{{ outing.name }}</a></td>
                <td>{{ outing.begining|naturaltime }}</td>
                <td>{{ outing.ending|naturaltime }}</td>
                <td><a href="{% url 'outings.confirm' outing.pk %}" class="btn btn-mini btn-success" title="{% trans "confirm" %}"><i class="icon-ok"></i></a><a href="{% url 'outings.update' outing.pk %}" class="btn btn-mini btn-info" title="{% trans "update" %}"><i class="icon-pencil"></i></a><a href="#deleteModal{{ outing.pk }}" role="button" class="btn btn-mini btn-danger" title="{% trans "delete" %}" data-toggle="modal"><i class="icon-trash"></i></a>
                  <div id="deleteModal{{ outing.pk }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ outing.pk }}Label" aria-hidden="true">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                      <h3 id="deleteModal{{ outing.pk }}Label">{% trans "Delete outing" %}</h3>
                    </div>
                    <div class="modal-body">
                      <p>{% blocktrans with outing.name as name %}Are you sure you want to delete the outing: «{{ name }}» ?{% endblocktrans %}</p>
                    </div>
                    <div class="modal-footer">
                      <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                      <a href="{% url 'outings.delete' outing.pk %}" class="btn btn-danger">{% trans "Delete" %}</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>{% trans "No drafts" %}</p>
          {% endif %}
        </div>
        <div class="tab-pane" id="finished">
          {% if finished_outings %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Began" %}</th>
                <th>{% trans "End planned" %}</th>
                <th>{% trans "Finished" %}</th>
              </tr>
            </thead>
            <tbody>
            {% for outing in finished_outings %}
              <tr>
                <td><a href="{% url 'outings.details' outing.pk %}">{{ outing.name }}</a></td>
                <td>{{ outing.begining }}</td>
                <td>{{ outing.ending }}</td>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>{% trans "No finished outings" %}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="span12">
    {% url 'friends.search' as URL %}
    <h3>{% trans "Friends" %} <small><a href="{% url 'friends.search' %}">({% trans "search" %})</a></small></h3>
    {% if user.profile.friends.all %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Phone number" %}</th>
        </tr>
      </thead>
      {% for friend in user.profile.friends.all %}
      <tr>
        <td>{{ friend.user.get_full_name }}</td>
        <td>{% if friend.phone_number %}<a href="tel:{{ friend.phone_number }}">{{ friend.phone_number }}</a>{% else %}?{% endif %}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>{% trans "You don't have friends here for the moment." %}</p>
    {% endif %}
  </div>
  <div class="span12">
    {% url 'accounts.profile.update' as URL %}
    <h3>{% trans "Information" %} <small><a href="{% url 'accounts.profile.update' %}">({% trans "update" %})</a></small></h3>
    <dl class="dl-horizontal">
      <dt>{% trans "Name" %}</dt>
      <dd>{{ user.get_full_name }}</dd>
      <dt>{% trans "email" %}</dt>
      <dd>{{ user.email }}</dd>
      <dt>{% trans "Phone number" %}</dt>
      <dd>{{ user.profile.phone_number|default:"?" }}</dd>
    </dl>
  </div>
</div>
{% endblock %}
