{% extends 'RandoAmisSecours/base.html' %}
{% load humanize i18n %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
  <li class="active">{% trans "Account" %}</li>
{% endblock %}

{% block body %}
<div class="page-header">
  <h2>{% trans "My profile" %}</h2>
</div>

<div class="row">
  {% if messages %}
  <div class="col-md-12">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags|default:'error' }}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{ message.tags|default:'error'|capfirst }}:</strong> {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="col-md-12">
    {% url 'friends.search' as URL %}
    <h3>{% trans "Friends" %} <a class="btn btn-info btn-xs" href="{% url 'friends.search' %}"><div class="glyphicon glyphicon-search"></div> {% trans "search" %}</a></h3>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#friends" data-toggle="tab">{% trans "Friends" %}</a></li>
        <li><a href="#received" data-toggle="tab">{% trans "Received" %}{% if friend_requests %} <span class="badge">{{ friend_requests.count }}</span>{% endif %}</a></li>
        <li><a href="#sent" data-toggle="tab">{% trans "Sent" %}{% if friend_requests_sent %} <span class="badge">{{ friend_requests_sent.count }}</span>{% endif %}</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane active" id="friends">
        {% with user.profile.friends.all.select_related as friends %}
        {% if friends %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Phone number" %}</th>
              <th></th>
            </tr>
          </thead>
          {% for friend in friends %}
          <tr>
            <td>{{ friend.user.get_full_name }}</td>
            <td>{% if friend.phone_number %}<a href="tel:{{ friend.phone_number }}">{{ friend.phone_number }}</a>{% else %}?{% endif %}</td>
            <td><a href="#deleteFriendModal{{ friend.user.pk }}" role="button" class="btn btn-xs btn-danger" title="{% trans "delete" %}" data-toggle="modal"><div class="glyphicon glyphicon-trash"></div></a>
            <div id="deleteFriendModal{{ friend.user.pk }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteFriendModal{{ friend.user.pk }}Label" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                <h3 id="deleteFriendModal{{ friend.user.pk }}Label">{% trans "Remove friend from list" %}</h3>
              </div>
              <div class="modal-body">
                <p>{% blocktrans with friend.user.get_full_name as name %}Are you sure you want to remove «{{ name }}» from your friends?{% endblocktrans %}</p>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <a href="{% url 'friends.delete' friend.user.pk %}" class="btn btn-danger">{% trans "Delete" %}</a>
              </div>
            </div></td>
          </tr>
          {% endfor %}
        </table>
        {% else %}
        <p>{% trans "You don't have friends here for the moment." %}</p>
        {% endif %}
        {% endwith %}
      </div>
      <div class="tab-pane" id="received">
        {% if friend_requests %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Received" %}</th>
              <th>{% trans "Action" %}</th>
            </tr>
          </thead>
          {% for f_r in friend_requests %}
          <tr>
            <td>{{ f_r.user.get_full_name }}</td>
            <td>{{ f_r.creation|timesince }}</td>
            <td><a href="#acceptFRModal{{ f_r.pk }}" class="btn btn-xs btn-success" title="{% trans "Accept" %}" data-toggle="modal"><i class="icon-ok-sign"></i></a>
                <a href="#refuseFRModal{{ f_r.pk }}" class="btn btn-xs btn-danger" title="{% trans "Refuse" %}" data-toggle="modal"><i class="icon-trash"></i></a>
            <div id="acceptFRModal{{ f_r.pk }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="acceptFRModal{{ f_r.pk }}Label" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                <h3 id="acceptFRModal{{ f_r.pk }}Label">{% trans "Accept friend request" %}</h3>
              </div>
              <div class="modal-body">
                <p>{% blocktrans with f_r.user.get_full_name as name %}Are you sure you want to add «{{ name }}» to your friends?{% endblocktrans %}</p>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <a href="{% url 'friends.accept' f_r.pk %}" class="btn btn-success">{% trans "Add friend" %}</a>
              </div>
            </div>
            <div id="refuseFRModal{{ f_r.pk }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="refuseFRModal{{ f_r.pk }}Label" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                <h3 id="refuseFRModal{{ f_r.pk }}Label">{% trans "Refuse friend request" %}</h3>
              </div>
              <div class="modal-body">
                <p>{% blocktrans with f_r.user.get_full_name as name %}Are you sure you want refuse the friend request from «{{ name }}»?{% endblocktrans %}</p>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <a href="{% url 'friends.refuse' f_r.pk %}" class="btn btn-danger">{% trans "Refuse request" %}</a>
              </div>
            </div>
            </td>
          </tr>
          {% endfor %}
        </table>
        {% else %}
        <p>{% trans "Not any request received" %}</p>
        {% endif %}
      </div>
      <div class="tab-pane" id="sent">
        {% if friend_requests_sent %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Sent" %}</th>
              <th>{% trans "Action" %}</th>
            </tr>
          </thead>
          {% for f_r in friend_requests_sent %}
          <tr>
            <td>{{ f_r.to.get_full_name }}</td>
            <td>{{ f_r.creation|timesince }}</td>
            <td><a href="#cancelFRModal{{ f_r.pk }}" role="button" class="btn btn-xs btn-danger" title="{% trans "Cancel" %}" data-toggle="modal"><i class="icon-trash"></i></a>
            <div id="cancelFRModal{{ f_r.pk }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="cancelFRModal{{ f_r.pk }}Label" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                <h3 id="cancelFRModal{{ f_r.pk }}Label">{% trans "Cancel friend request" %}</h3>
              </div>
              <div class="modal-body">
                <p>{% blocktrans with f_r.to.get_full_name as name %}Are you sure you want to cancel the friend request sent to «{{ name }}»?{% endblocktrans %}</p>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <a href="{% url 'friends.cancel' f_r.pk %}" class="btn btn-danger">{% trans "Cancel friend request" %}</a>
              </div>
            </div></td>
          </tr>
          {% endfor %}
        </table>
        {% else %}
        <p>{% trans "Not any request sent" %}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-12">
    {% url 'accounts.profile.update' as URL %}
    <h3>{% trans "Information" %} <a class="btn btn-info btn-xs" href="{% url 'accounts.profile.update' %}"><i class="icon-wrench icon-white"></i> {% trans "update" %}</a></h3>
    <div class="row">
      <div class="col-md-6">
        <dl class="dl-horizontal">
          <dt>{% trans "Name" %}</dt>
          <dd>{{ user.get_full_name }}</dd>
          <dt>{% trans "email" %}</dt>
          <dd>{{ user.email }}</dd>
          <dt>{% trans "Phone number" %}</dt>
          <dd>{{ user.profile.phone_number|default:"?" }}</dd>
          <dt>{% trans "Password" %}</dt>
          <dd><a href="{% url 'accounts.password_change' %}"><i class="icon-lock"></i> {% trans "update" %}</a></dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl class="dl-horizontal">
          <dt>{% trans "Language" %}</dt>
          {% if user.profile.get_language_display %}
          <dd>{% trans user.profile.get_language_display %}</dd>
          {% else %}
          <dd>{% trans "undefined" %}</dd>
          {% endif %}
          <dt>{% trans "Timezone" %}</dt>
          <dd>{{ user.profile.timezone }}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h3>{% trans "Deleting my account" %}</h3>
    <p>{% trans "If you want to remove your account, just click on the folowing button. Be careful as it will permanently remove all your outings and personal data." %}</p>
    <a href="#deleteAccountModal" role="button" class="btn btn-danger" title="{% trans "delete" %}" data-toggle="modal">{% trans "Deleting my account" %}</a>
    <div id="deleteAccountModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        <h3 id="deleteAccountModalLabel">{% trans "Deleting my account" %}</h3>
      </div>
      <div class="modal-body">
        <p>{% trans "Are you sure you want to delete your account? It will permanently delete all your outings along with your personal data." %}</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
        <a href="{% url 'accounts.delete' %}" class="btn btn-danger">{% trans "Deleting my account" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
