{% extends 'RandoAmisSecours/base.html' %}
{% load i18n %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'accounts.profile' %}">{% trans "Account" %}</a> <span class="divider">/</span></li>
  <li class="activate">{% trans "Register" %}</li>
{% endblock %}

{% block body %}
<div class="page-header">
  <h1>{% trans "Create an account" %}</h1>
</div>
<div class="row">
  {% if messages %}
  <div class="span12">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags|default:'error' }}">
      <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
      <strong>{{ message.tags|default:'error'|capfirst }}:</strong> {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <form class="form-horizontal" method="post" action="{% url 'accounts.register' %}">
  {% csrf_token %}
  <div class="span6">
    <h4 class="modal-header">{% trans "Account information" %}</h4>
    <div class="control-group{% if user_form.username.errors %} error{% endif %}">
      <label class="control-label" for="id_username">{% trans "Username" %}</label>
      <div class="controls">
        {{ user_form.username }}
        {% for error in user_form.username.errors %}
        <span class="help-inline">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="control-group{% if user_form.password1.errors %} error{% endif %}">
      <label class="control-label" for="id_password1">{% trans "Password" %}</label>
      <div class="controls">
        {{ user_form.password1 }}
        {% for error in user_form.password1.errors %}
        <span class="help-inline">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="control-group{% if user_form.password2.errors %} error{% endif %}">
      <label class="control-label" for="id_password2">{% trans "Password" %}</label>
      <div class="controls">
        {{ user_form.password2 }}
        {% for error in user_form.password2.errors %}
        <span class="help-inline">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="span6">
    <h4 class="modal-header">{% trans "Personnal information" %}</h4>
    <div class="control-group{% if user_form.first_name.errors %} error{% endif %}">
      <label class="control-label" for="id_first_name">{% trans "First name" %}</label>
      <div class="controls">
        {{ user_form.first_name }}
        {% for error in user_form.first_name.errors %}
        <span class="help-inline">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="control-group{% if user_form.last_name.errors %} error{% endif %}">
      <label class="control-label" for="id_last_name">{% trans "Last name" %}</label>
      <div class="controls">
        {{ user_form.last_name }}
        {% for error in user_form.last_name.errors %}
        <span class="help-inline">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="control-group{% if user_form.email.errors %} error{% endif %}">
      <label class="control-label" for="id_email">{% trans "email" %}</label>
      <div class="controls">
        <div class="input-append">
          {{ user_form.email }}
          <span class="add-on">@</span>
        </div>
        {% for error in user_form.email.errors %}
        <span class="help-inline">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="span12">
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{% trans "Register" %}</button>
    </div>
  </div>
  </form>
</div>
{% endblock %}
