{% extends 'RandoAmisSecours/base.html' %}
{% load i18n static %}

{% block title %}{% trans "Update" %}{% endblock %}

{% block nav-account %}active{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
  <li><a href="{% url 'accounts.profile' %}">{% trans "Account" %}</a></li>
  <li class="activate">{% trans "Update" %}</li>
{% endblock %}

{% block body %}
<div class="page-header">
  <h1>{% trans "Update my account" %}</h1>
</div>
<div class="row">
  <form class="form-horizontal" tole="form" method="post" action="{% url 'accounts.profile.update' %}">
  {% csrf_token %}
  <div class="col-md-6">
    <h4 class="modal-header">{% trans "Personnal information" %}</h4>
    <div class="form-group {% if user_form.first_name.errors %} has-error{% endif %}">
      <label class="col-md-4 control-label" for="id_first_name">{% trans "First name" %}</label>
      <div class="col-md-8">
        {{ user_form.first_name }}
        {% for error in user_form.first_name.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="form-group{% if user_form.last_name.errors %} has-error{% endif %}">
      <label class="col-md-4 control-label" for="id_last_name">{% trans "Last name" %}</label>
      <div class="col-md-8">
        {{ user_form.last_name }}
        {% for error in user_form.last_name.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="form-group{% if profile_form.phone_number.errors %} has-error{% endif %}">
      <label class="col-md-4 control-label" for="id_phone_number">{% trans "Phone number" %}</label>
      <div class="col-md-8">
        {{ profile_form.phone_number }}
        {% for error in profile_form.phone_number.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4 class="modal-header">{% trans "Localization" %}</h4>
    <div class="form-group{% if profile_form.language.errors %} has-error{% endif %}">
      <label class="col-md-4 control-label" for="id_language">{% trans "Language" %}</label>
      <div class="col-md-8">
        <select class="form-control" id="id_language" name="language">
          {% for value, text in profile_form.language.field.choices %}
          <option value="{{ value }}"{% if value == user.profile.language %} selected="selected"{% endif %}>{% trans text %}</option>
          {% endfor %}
        </select>
        {% for error in profile_form.language.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="form-group{% if profile_form.timezone.errors %} has-error{% endif %}">
      <label class="col-md-4 control-label" for="id_timezone">{% trans "Timezone" %}</label>
      <div class="col-md-8">
        {{ profile_form.timezone }}
        {% for error in profile_form.timezone.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
        <p>{% blocktrans %}Your browser is in the same timezone as <u id="current_timezone"></u>"{% endblocktrans %}</p>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <button class="btn btn-primary" type="submit">{% trans "Update" %}</button>
    </div>
  </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script src="{% get_static_prefix %}RandoAmisSecours/js/jstz-v1.0.5.min.js"></script>
<script>
  $(function(){
    var timezone = jstz.determine();
    $('#current_timezone').html(timezone.name());
  });
</script>
{% endblock %}
