{% extends 'RandoAmisSecours/base.html' %}
{% load i18n %}

{% block title %}{% trans "Update" %}{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'accounts.profile' %}">{% trans "Account" %}</a> <span class="divider">/</span></li>
  <li class="activate">{% trans "Update" %}</li>
{% endblock %}

{% block body %}
<div class="page-header">
  <h1>{% trans "Update my account" %}</h1>
</div>
<div class="row">
  <form class="form-horizontal" method="post" action="{% url 'accounts.profile.update' %}">
  {% csrf_token %}
  <div class="span6">
    <h4 class="modal-header">{% trans "Personnal information" %}</h4>
    <div class="control-group{% if user_form.first_name.errors %} error{% endif %}">
      <label class="control-label" for="id_first_name">{% trans "First name" %}</label>
      <div class="controls">
        {{ user_form.first_name }}
        {% for error in user_form.first_name.errors %}
        <span class="help-inline">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="control-group{% if user_form.last_name.errors %} error{% endif %}">
      <label class="control-label" for="id_last_name">{% trans "Last name" %}</label>
      <div class="controls">
        {{ user_form.last_name }}
        {% for error in user_form.last_name.errors %}
        <span class="help-inline">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="control-group{% if profile_form.phone_number.errors %} error{% endif %}">
      <label class="control-label" for="id_phone_number">{% trans "Phone number" %}</label>
      <div class="controls">
        {{ profile_form.phone_number }}
        {% for error in profile_form.phone_number.errors %}
        <span class="help-inline">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="span12">
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{% trans "Update" %}</button>
    </div>
  </div>
  </form>
</div>
{% endblock %}
