{% extends 'RandoAmisSecours/base.html' %}
{% load i18n %}

{% block title %}{% trans "Search friends" %}{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
  <li><a href="#">{% trans "Friends" %}</a> <span class="divider">/</span></li>
  <li class="active">{% trans "Search" %}</li>
{% endblock %}

{% block body %}
<div class="page-header">
  <h2>{% trans "Search friends" %}</h2>
</div>

<div class="row">
  {% if messages %}
  <div class="span12">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags|default:'error' }}">
      <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
      <strong>{{ message.tags|default:'error'|capfirst }}:</strong> {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="span8 offset2">
    <p>{% trans "Search for friends using the field below." %}</p>
    <form action="." method="get" class="form-search">
      <div class="control-group{% if error %} error{% endif %}">
        <div class="controls">
          <div class="input-append">
            <input type="text" name="query" class="input-medium search-query" autofocus="autofocus" placeholder="{% trans "Search" %}">
            <button type="submit" class="btn"><i class="icon-search"></i></button>
          </div>
          {% if error %}
          <span class="help-inline">{% trans "The query should be at least 3 characters long." %}</span>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
  <div class="span8 offset2">
    {% if query and not error %}
    {% if results %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans "Name" %}</th>
          <th width="10%"></th>
        </tr>
      </thead>
      <tbody>
      {% with user.profile.friends.all as friends %}
      {% for profile in results %}
        <tr>
          <td>{{ profile.user.get_full_name }}</td>
          <td>{% if profile not in friends %}<a href="{% url 'friends.invite' profile.user.pk %}" class="btn btn-mini btn-success" title="invite"><i class="icon-plus"></i></a>{% endif %}</td>
        </tr>
      {% endfor %}
      {% endwith %}
      </tbody>
    </table>
    {% else %}
    <p>{% trans "No matching user" %}</p>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
