{% extends 'RandoAmisSecours/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ update|yesno:_("Update,New outing") }}{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}RandoAmisSecours/css/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}RandoAmisSecours/css/l.geosearch.css" />
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}RandoAmisSecours/css/bootstrap-datetimepicker.min.css" />
{% endblock %}

{% block style %}
    #map { height: 400px; }
{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'outings.index' %}">{% trans "Outings" %}</a> <span class="divider">/</span></li>
  <li class="active">{{ update|yesno:_("Update,Create") }}</li>
{% endblock %}

{% block body %}
<h2>{% if update %}{% blocktrans with outing.name as name %}Update «{{ name }}»{% endblocktrans %}{% else %}{% trans "New outing" %}{% endif %}</h2>

<div class="row">
  <div class="span12">
  <form action="." method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="row">
      <div class="span6">
        <h4 class="modal-header">{% trans "Global information" %}</h4>
        <div class="control-group{% if form.name.errors %} error{% endif %}">
          <label class="control-label" for="id_name">{% trans "Name" %}</label>
          <div class="controls">
            {{ form.name }}
            {% for error in form.name.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="control-group{% if form.description.errors %} error{% endif %}">
          <label class="control-label" for="id_description">{% trans "Description" %}</label>
          <div class="controls">
            {{ form.description }}
            {% for error in form.description.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="control-group{% if form.latitude.errors %} error{% endif %}">
          <label class="control-label" for="id_latitude">{% trans "Latitude" %}</label>
          <div class="controls">
            {{ form.latitude }}
            {% for error in form.latitude.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="control-group{% if form.longitude.errors %} error{% endif %}">
          <label class="control-label" for="id_longitude">{% trans "Longitude" %}</label>
          <div class="controls">
            {{ form.longitude }}
            {% for error in form.longitude.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="span6">
        <h4 class="modal-header">{% trans "Timing" %}</h4>
        <div class="control-group{% if form.beginning.errors %} error{% endif %}">
          <label class="control-label" for="id_beginning">{% trans "Begin" %}</label>
          <div class="controls">
            <div id="beginning_picker" class="input-append date">
              {{ form.beginning }}
              <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
            </div>
            {% for error in form.beginning.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="control-group{% if form.ending.errors %} error{% endif %}">
          <label class="control-label" for="id_ending">{% trans "End" %}</label>
          <div class="controls">
            <div id="ending_picker" class="input-append date">
              {{ form.ending }}
              <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
            </div>
            {% for error in form.ending.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="control-group{% if form.alert.errors %} error{% endif %}">
          <label class="control-label" for="id_alert">{% trans "Alert" %}</label>
          <div class="controls">
            <div id="alert_picker" class="input-append date">
              {{ form.alert }}
              <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
            </div>
            {% for error in form.alert.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="span8 offset2">
        <div id="map">
        </div>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{{ update|yesno:_("Update,Create") }}</button>
    </div>
  </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% get_static_prefix %}RandoAmisSecours/js/leaflet.js"></script>
<script src="{% get_static_prefix %}RandoAmisSecours/js/l.control.geosearch.js"></script>
<script src="{% get_static_prefix %}RandoAmisSecours/js/l.geosearch.provider.openstreetmap.js"></script>
<script src="{% get_static_prefix %}RandoAmisSecours/js/bootstrap-datetimepicker.min.js"></script>
<script>
  $(function(){
    var osmURL = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';
    var basemap = new L.TileLayer(osmURL,
                        {attribution: 'attribution: &copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                         maxZoom: 18});
    var marker = null;
    var map = new L.Map('map', {
      layers: [basemap],
      center: new L.LatLng(0, 0),
      zoom: 1
    });

    new L.Control.GeoSearch({
      provider: new L.GeoSearch.Provider.OpenStreetMap()
    }).addTo(map);

    // Add a marker to the map
    function addMarker(latlng) {
      marker = L.marker(latlng,  {'draggable': true}).addTo(map);
      // Update the postion while dragging
      marker.on('dragend', function(e) {
        var latlng = marker.getLatLng();
        $('#id_latitude').val(latlng.lat);
        $('#id_longitude').val(latlng.lng);
      });
      marker.on('drag', function(e) {
        var latlng = marker.getLatLng();
        $('#id_latitude').val(latlng.lat);
        $('#id_longitude').val(latlng.lng);
      });
    }

    // Add the marker at the right place if latitude and longitude are defined
    if($('#id_latitude').val() && $('#id_longitude').val()) {
      addMarker([$('#id_latitude').val(), $('#id_longitude').val()]);
    }

    // Map events
    map.on('click', function(e){
      // Update the position when clicking
      $('#id_latitude').val(e.latlng.lat);
      $('#id_longitude').val(e.latlng.lng);

      // Create the marker if needed
      if(!marker) {
        addMarker(e.latlng);
      } else {
        marker.setLatLng(e.latlng);
      }
    });

    // datetime pickers
    $('#beginning_picker, #ending_picker, #alert_picker').datetimepicker({
      format: 'yyyy-MM-dd hh:mm',
      pickSeconds: false,
      language: 'en',
    });
  });
</script>
{% endblock %}
