{% extends 'RandoAmisSecours/base.html' %}
{% load static i18n %}

{% block title %}{{ update|yesno:_("Update,New outing") }}{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}RandoAmisSecours/css/leaflet-v0.7.7.css" />
  <link rel="stylesheet" href="{% get_static_prefix %}RandoAmisSecours/css/leaflet.fullscreen-v1.0.1.css" />
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}RandoAmisSecours/css/l.geosearch-h874f4d.css" />
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}RandoAmisSecours/css/bootstrap-datetimepicker-v2.2.0.css" />
{% endblock %}

{% block style %}
    #map { height: 400px; }
{% endblock %}

{% block nav-outings %}active{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
  <li><a href="{% url 'outings.index' %}">{% trans "Outings" %}</a></li>
  <li class="active">{{ update|yesno:_("Update,Create") }}</li>
{% endblock %}

{% block body %}
<h2>{% if update %}{% blocktrans with outing.name as name %}Update «{{ name }}»{% endblocktrans %}{% else %}{% trans "New outing" %}{% endif %}</h2>

<div class="row">
  <div class="col-md-12">
  <form class="form-horizontal" role="form" action="." method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <h4 class="modal-header">{% trans "Global information" %}</h4>
        <div class="form-group{% if form.name.errors %} has-error{% endif %}">
          <label class="col-md-4 control-label" for="id_name">{% trans "Name" %}</label>
          <div class="col-md-8">
            {{ form.name }}
            {% for error in form.name.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group{% if form.description.errors %} has-error{% endif %}">
          <label class="col-md-4 control-label" for="id_description">{% trans "Description" %}</label>
          <div class="col-md-8">
            {{ form.description }}
            {% for error in form.description.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group{% if form.latitude.errors %} has-error{% endif %}">
          <label class="col-md-4 control-label" for="id_latitude">{% trans "Latitude" %}</label>
          <div class="col-md-8">
            {{ form.latitude }}
            {% for error in form.latitude.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group{% if form.longitude.errors %} has-error{% endif %}">
          <label class="col-md-4 control-label" for="id_longitude">{% trans "Longitude" %}</label>
          <div class="col-md-8">
            {{ form.longitude }}
            {% for error in form.longitude.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4 class="modal-header">{% blocktrans with user.profile.timezone as TIME_ZONE %}Timing (in {{ TIME_ZONE }}){% endblocktrans %}</h4>
        <div class="form-group{% if form.beginning.errors %} has-error{% endif %}">
          <label class="col-md-4 control-label" for="id_beginning">{% trans "Begin" %}</label>
          <div class="col-md-8">
            <div id="beginning_picker" class="input-group date">
              {{ form.beginning }}
              <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            {% for error in form.beginning.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group{% if form.ending.errors %} has-error{% endif %}">
          <label class="col-md-4 control-label" for="id_ending">{% trans "End" %}</label>
          <div class="col-md-8">
            <div id="ending_picker" class="input-group date">
              {{ form.ending }}
              <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            {% for error in form.ending.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group{% if form.alert.errors %} has-error{% endif %}">
          <label class="col-md-4 control-label" for="id_alert">{% trans "Alert" %}</label>
          <div class="col-md-8">
            <div id="alert_picker" class="input-group date">
              {{ form.alert }}
              <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            {% for error in form.alert.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <p>{% trans "RandoAmisSecours will use the three fields above to decide upon when to send email:" %}</p>
        <dl class="dl-horizontal">
          <dt>{% trans "Beginning" %}</dt>
          <dd>{% trans "the beginning of the outing" %}</dd>
          <dt>{% trans "Ending" %}</dt>
          <dd>{% trans "the planned ending" %}</dd>
          <dt>{% trans "Alert" %}</dt>
          <dd>{% trans "the time to alert friends" %}</dd>
        </dl>
        <p>{% trans "After the ending R.A.S. sends emails to the owner. After the alert, friends are also emailed until the outing is closed." %}</p>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div id="map">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <button type="submit" class="btn btn-primary">{{ update|yesno:_("Update,Create") }}</button>
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% get_static_prefix %}RandoAmisSecours/js/leaflet-v0.7.7.js"></script>
<script src="{% get_static_prefix %}RandoAmisSecours/js/Leaflet.fullscreen.min-v1.0.1.js"></script>
<script src="{% get_static_prefix %}RandoAmisSecours/js/l.control.geosearch-h874f4d.js"></script>
<script src="{% get_static_prefix %}RandoAmisSecours/js/l.geosearch.provider.openstreetmap-h874f4d.js"></script>
<script src="{% get_static_prefix %}RandoAmisSecours/js/bootstrap-datetimepicker-v2.2.0.js"></script>
{% get_current_language as LANGUAGE_CODE_LONG %}
{% with LANGUAGE_CODE_LONG|slice:"0:2" as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'fr' %}<script src="{% get_static_prefix %}RandoAmisSecours/js/locales/bootstrap-datetimepicker-v2.2.0.fr.js"></script>{% endif %}
{% if LANGUAGE_CODE == 'es' %}<script src="{% get_static_prefix %}RandoAmisSecours/js/locales/bootstrap-datetimepicker-v2.2.0.es.js"></script>{% endif %}
{% endwith %}
<script>
  $(function(){
    var basemap = new L.TileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png',
                        {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                         maxZoom: 18});
    var marker = null;
    var map = new L.Map('map', {
      layers: [basemap],
      center: new L.LatLng(0, 0),
      zoom: 1,
      fullscreenControl: {
        pseudoFullscreen: true
    }
    });

    new L.Control.GeoSearch({
      provider: new L.GeoSearch.Provider.OpenStreetMap(),
      'showMarker': false
    }).addTo(map);

    // Add a marker to the map
    function addMarker(latlng) {
      marker = L.marker(latlng,  {'draggable': true}).addTo(map);
      // Update the postion while dragging
      marker.on('dragend', function(e) {
        var latlng = marker.getLatLng();
        $('#id_latitude').val(latlng.lat);
        $('#id_longitude').val(latlng.lng);
      });
      marker.on('drag', function(e) {
        var latlng = marker.getLatLng();
        $('#id_latitude').val(latlng.lat);
        $('#id_longitude').val(latlng.lng);
      });
    }

    // Add the marker at the right place if latitude and longitude are defined
    if($('#id_latitude').val() && $('#id_longitude').val()) {
      addMarker([$('#id_latitude').val(), $('#id_longitude').val()]);
    }

    // Map events
    map.on('click', function(e){
      // Update the position when clicking
      $('#id_latitude').val(e.latlng.lat);
      $('#id_longitude').val(e.latlng.lng);

      // Create the marker if needed
      if(!marker) {
        addMarker(e.latlng);
      } else {
        marker.setLatLng(e.latlng);
      }
    });

    // datetime pickers
    $('#beginning_picker').datetimepicker({
      todayBtn: true,
      language: '{{ LANGUAGE_CODE }}',
      autoclose: true,
      minuteStep: 15,
      pickerPosition: "bottom-left",
      format: "{% trans "yyyy-mm-dd hh:ii:ss" %}"
    }).on('changeDate', function(ev){
        var start_date = new Date(ev.date.valueOf() + 60000 * ev.date.getTimezoneOffset());
        $('#ending_picker, #alert_picker').datetimepicker('setStartDate', start_date);
    });
    $('#ending_picker').datetimepicker({
      todayBtn: true,
      language: '{{ LANGUAGE_CODE }}',
      autoclose: true,
      minuteStep: 15,
      pickerPosition: "bottom-left",
      format: "{% trans "yyyy-mm-dd hh:ii:ss" %}"
    }).on('changeDate', function(ev){
        var start_date = new Date(ev.date.valueOf() + 60000 * ev.date.getTimezoneOffset());
        $('#alert_picker').datetimepicker('setStartDate', start_date);
    });
    $('#alert_picker').datetimepicker({
      todayBtn: true,
      language: '{{ LANGUAGE_CODE }}',
      autoclose: true,
      minuteStep: 15,
      pickerPosition: "bottom-left",
      format: "{% trans "yyyy-mm-dd hh:ii:ss" %}"
    });
  });
</script>
{% endblock %}
