{% extends 'RandoAmisSecours/base.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block title %}{% blocktrans with outing.name as name %}Outing «{{ name }}»{% endblocktrans %}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% get_static_prefix %}RandoAmisSecours/css/leaflet.css" />
{% endblock %}

{% block style %}
    #map { height: 300px; }
{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
  <li><a href="{% url 'outings.index' %}">{% trans "Outings" %}</a> <span class="divider">/</span></li>
  <li class="active">{{ outing.name }}</li>
{% endblock %}

{% block body %}
<h2>{{ outing.name }}{% if outing.status != FINISHED and outing.user == user %} <small><a href="{% url 'outings.update' outing.pk %}">({% trans "update" %})</a></small>{% endif %}</h2>

<div class="row">
  {% if messages %}
  <div class="span12">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags|default:'error' }}">
      <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
      <strong>{{ message.tags|default:'error'|capfirst }}:</strong> {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="span12">
    <div class="progress">
      {% with outing.getPercents as percents %}
      <div class="bar bar-success" style="width: {{ percents.0 }}%"></div>
      <div class="bar bar-warning" style="width: {{ percents.1 }}%"></div>
      <div class="bar bar-danger" style="width: {{ percents.2 }}%"></div>
      {% endwith %}
    </div>
  </div>
  <div class="span6">
    <dl class="dl-horizontal">
      <dt>{% trans "Begin" %}</dt>
      <dd>{{ outing.beginning }}</dd>
      <dt>{% trans "End" %}</dt>
      <dd>{{ outing.ending }}</dd>
      <dt>{% trans "Alert at" %}</dt>
      <dd>{{ outing.alert }}</dd>
    </dl>
  </div>
  <div class="span6">
    <dl class="dl-horizontal">
      <dt>{% trans "Description" %}</dt>
      <dd>{{ outing.description }}</dd>
    </dl>
  </div>
  <div class="span6 offset3">
    <div id="map">
    </div>
  </div>
  {% if user.is_authenticated and outing.is_alerting %}
  <div class="span12">
    <h4 class="modal-header">Late outing</h4>
    <p>{% blocktrans with outing.user.get_full_name as full_name %}{{ full_name }} is really late, you can try to contact him:{% endblocktrans %}</p>
    <dl class="dl-horizontal">
      <dt>{% trans "Name" %}</dt>
      <dd>{{ outing.user.get_full_name }}</dd>
      <dt>{% trans "Phone number" %}</dt>
      <dd>{% if outing.user.profile.phone_number %}<a href="tel:{{ outing.user.profile.phone_number }}">{{ outing.user.profile.phone_number }}</a>{% else %}?{% endif %}</dd>
    </dl>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block script %}
<script src="{% get_static_prefix %}RandoAmisSecours/js/leaflet.js"></script>
<script>
  $(function(){
    var map = L.map('map').setView([{{ outing.latitude|unlocalize }}, {{ outing.longitude|unlocalize }}], 12);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: 'attribution: &copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 18}).addTo(map);
    var marker = L.marker([{{ outing.latitude|unlocalize }}, {{ outing.longitude|unlocalize }}]).addTo(map)
                    .bindPopup('Ending');
  });
</script>
{% endblock %}
