{% extends 'RandoAmisSecours/base.html' %}
{% load static l10n i18n %}

{% block title %}{% blocktrans with outing.name as name %}Outing «{{ name }}»{% endblocktrans %}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% get_static_prefix %}RandoAmisSecours/css/leaflet-v0.7.7.css" />
  <link rel="stylesheet" href="{% get_static_prefix %}RandoAmisSecours/css/leaflet.fullscreen-v1.0.1.css" />
{% endblock %}

{% block style %}
    #map { height: 300px; }
{% endblock %}

{% block nav-outings %}active{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
  <li><a href="{% url 'outings.index' %}">{% trans "Outings" %}</a></li>
  <li class="active">{{ outing.name }}</li>
{% endblock %}

{% block body %}
<h2>{{ outing.name }}{% if outing.status != FINISHED and outing.user == user %} <small><a href="{% url 'outings.update' outing.pk %}">({% trans "update" %})</a></small>{% endif %}</h2>

<div class="row">
  {% if messages %}
  <div class="span12">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags|default:'danger' }}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{ message.tags|default:'danger'|capfirst }}:</strong> {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if outing.status == DRAFT %}
  <div class="span12">
    <div class="alert alert-warning">
      {% url 'outings.confirm' outing.pk as confirmed_url %}
      <strong>{% trans "Warning:" %}</strong> {% blocktrans %}This outing is not validated. You should <a href="{{ confirmed_url }}">confirmed it!</a>{% endblocktrans %}
    </div>
  </div>
  {% endif %}
  {% if outing.status == CONFIRMED %}
  <div class="col-md-12">
    <div class="progress">
      {% with outing.getPercents as percents %}
      <div class="progress-bar progress-bar-success" style="width: {{ percents.0|unlocalize }}%"></div>
      <div class="progress-bar progress-bar-warning" style="width: {{ percents.1|unlocalize }}%"></div>
      <div class="progress-bar progress-bar-danger" style="width: {{ percents.2|unlocalize }}%"></div>
      {% endwith %}
    </div>
  </div>
  {% endif %}
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>{% trans "Begin" %}</dt>
      <dd>{{ outing.beginning }}</dd>
      <dt>{% trans "End" %}</dt>
      <dd>{{ outing.ending }}</dd>
      <dt>{% trans "Alert at" %}</dt>
      <dd>{{ outing.alert }}</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>{% trans "Description" %}</dt>
      <dd>{{ outing.description|urlize }}</dd>
    </dl>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div id="map">
    </div>
  </div>
  {% if user.is_authenticated and outing.status == CONFIRMED and outing.is_alerting %}
  <div class="col-md-6">
    <h4 class="modal-header">{% trans "Late outing" %}</h4>
    <p>{% blocktrans with outing.user.get_full_name as full_name %}{{ full_name }} is really late, you can try to contact him:{% endblocktrans %}</p>
    <dl class="dl-horizontal">
      <dt>{% trans "Name" %}</dt>
      <dd>{{ outing.user.get_full_name }}</dd>
      <dt>{% trans "Phone number" %}</dt>
      <dd>{% if outing.user.profile.phone_number %}<a href="tel:{{ outing.user.profile.phone_number }}">{{ outing.user.profile.phone_number }}</a>{% else %}?{% endif %}</dd>
    </dl>
  </div>
  {% if outing.gpspoint_set.count %}
  <div class="col-md-6">
    <h4 class="modal-header">{% trans "GPS trace" %}</h4>
    {% url "outings.details.trace" outing.pk as URL %}
    <p>{% blocktrans %}A GPS trace has been recorded, you can <a href="{{ URL }}">watch it</a>.{% endblocktrans %}</p>
  </div>
  {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block script %}
<script src="{% get_static_prefix %}RandoAmisSecours/js/leaflet-v0.7.7.js"></script>
<script src="{% get_static_prefix %}RandoAmisSecours/js/Leaflet.fullscreen.min-v1.0.1.js"></script>
<script>
  $(function(){
    var map = L.map('map', {
                      fullscreenControl: {
                        pseudoFullscreen: true
                      }
                  }).setView([{{ outing.latitude|unlocalize }}, {{ outing.longitude|unlocalize }}], 12);
    L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 18}).addTo(map);
    var marker = L.marker([{{ outing.latitude|unlocalize }}, {{ outing.longitude|unlocalize }}]).addTo(map)
                    .bindPopup('Ending');
  });
</script>
{% endblock %}
