{% extends 'RandoAmisSecours/base.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block title %}{% trans "Outings" %}{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
  <li class="active">{% trans "Outings" %}</li>
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% get_static_prefix %}RandoAmisSecours/css/leaflet.css" />
{% endblock %}

{% block style %}
    .outing-map { height: 300px; }
{% endblock %}

{% block body %}
<div class="page-header">
  <h2>{% blocktrans %}{{ status }} outings{% endblocktrans %}</h2>
</div>

<div class="row">
  <div class="span12">
    <ul class="thumbnails">
    {% for outing in outings %}
      {% with outing.getPercents as percents %}
      <li class="span4">
        <div class="thumbnail">
          <div class="progress">
            <div class="bar bar-success" style="width: {{ percents.0|unlocalize }}%"></div>
            <div class="bar bar-warning" style="width: {{ percents.1|unlocalize }}%"></div>
            <div class="bar bar-danger" style="width: {{ percents.2|unlocalize }}%"></div>
          </div>
          <div id="map{{ outing.pk }}" class="outing-map" data-lat="{{ outing.latitude|unlocalize }}" data-lng="{{ outing.longitude|unlocalize }}">
          </div>
          <div class="caption">
            <h3><a href="{% url 'outings.details' outing.pk %}">{{ outing.name }}</a></h3>
            <p>{{ outing.description|truncatewords:8 }}</p>
          </div>
        </div>
      </li>
      {% endwith %}
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% get_static_prefix %}RandoAmisSecours/js/leaflet.js"></script>
<script>
  $(function(){
    $('.outing-map').each(function() {
      var map = L.map(this.id).setView([$(this).data('lat'), $(this).data('lng')], 12);
      L.tileLayer('http://129.206.74.245:8001/tms_r.ashx?x={x}&y={y}&z={z}', {
        attribution: '<a href="http://giscience.uni-hd.de/">GIScience Research Group</a> | &copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 18}).addTo(map);
      var marker = L.marker([$(this).data('lat'), $(this).data('lng')]).addTo(map);
    });
  });
</script>
{% endblock %}
