{% extends 'RandoAmisSecours/base.html' %}
{% load static l10n i18n humanize %}

{% block title %}{% trans "Outings" %}{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
  <li class="active">{% trans "Outings" %}</li>
{% endblock %}

{% block body %}
<div class="page-header">
  <h2>{% blocktrans %}Outings{% endblocktrans %}</h2>
</div>

<div class="row">
  {% if messages %}
  <div class="col-md-12">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags|default:'danger' }}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{ message.tags|default:'error'|capfirst }}:</strong> {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="col-md-12">
    {% url 'outings.create' as URL %}
    <h3>{% trans "My outings" %} <a class="btn btn-info btn-xs" href="{% url 'outings.create' %}"><span class="glyphicon glyphicon-plus-sign"></span> {% trans "new" %}</a></h3>
    <div id="OutingsTab">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#current" data-toggle="tab">{% trans "Current" %}</a></li>
        <li><a href="#draft" data-toggle="tab">{% trans "Draft" %}</a></li>
        <li><a href="#finished" data-toggle="tab">{% trans "Finished" %}</a></li>
      </ul>
      <div id="OutingsTabContent" class="tab-content">
        <div class="tab-pane active" id="current">
          {% if user_outings_confirmed %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Begin" %}</th>
                <th>{% trans "End" %}</th>
                <th width="8%"></th>
                <th width="8%"></th>
              </tr>
            </thead>
            <tbody>
            {% for outing in user_outings_confirmed %}
              {% if outing.is_running %}
              <tr class="success">
              {% elif outing.is_late %}
              <tr class="warning">
              {% elif outing.is_alerting %}
              <tr class="danger">
              {% else %}
              <tr>
              {% endif %}
                <td><a href="{% url 'outings.details' outing.pk %}">{{ outing.name }}</a></td>
                <td>{{ outing.beginning|naturaltime }}</td>
                <td>{{ outing.ending|naturaltime }}</td>
                <td><button class="btn btn-xs btn-success" data-toggle="modal" data-target="#okModal{{ outing.pk }}" title="{% trans "finish" %}"><span class="glyphicon glyphicon-ok-sign"></span></button><button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#" title="{% trans "late" %}"><span class="glyphicon glyphicon-time"></span></button>
                  <div class="modal fade" id="okModal{{ outing.pk }}" tabindex="-1" role="dialog" aria-labelledby="okModal{{ outing.pk }}Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h3 class="modal-title" id="okModal{{ outing.pk }}Label">{% trans "Finishing outing" %}</h3>
                        </div>
                        <div class="modal-body">
                          <p>{% blocktrans with outing.name as name %}Confirm that you are back home safe from «{{ name }}» ?{% endblocktrans %}</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                          <a class="btn btn-success" href="{% url 'outings.finish' outing.pk %}">{% trans "Finish" %}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td><a class="btn btn-xs btn-info" href="{% url 'outings.update' outing.pk %}" title="{% trans "update" %}"><span class="glyphicon glyphicon-pencil"></span></a><button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal{{ outing.pk }}" title="{% trans "delete" %}"><span class="glyphicon glyphicon-trash"></span></button>
                  <div class="modal fade" id="deleteModal{{ outing.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ outing.pk }}Label" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h3 class="modal-title" id="deleteModal{{ outing.pk }}Label">{% trans "Delete outing" %}</h3>
                        </div>
                        <div class="modal-body">
                          <p>{% blocktrans with outing.name as name %}Are you sure you want to delete the outing: «{{ name }}» ?{% endblocktrans %}</p>
                        </div>
                       <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                          <a class="btn btn-danger" href="{% url 'outings.delete' outing.pk %}">{% trans "Delete" %}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>{% trans "No current outings" %}</p>
          {% endif %}
        </div>
        <div class="tab-pane" id="draft">
          {% if user_outings_draft %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Begin" %}</th>
                <th>{% trans "End" %}</th>
                <th width="12%"></th>
              </tr>
            </thead>
            <tbody>
            {% for outing in user_outings_draft %}
              <tr>
                <td><a href="{% url 'outings.details' outing.pk %}">{{ outing.name }}</a></td>
                <td>{{ outing.beginning|naturaltime }}</td>
                <td>{{ outing.ending|naturaltime }}</td>
                <td><a class="btn btn-xs btn-success" href="{% url 'outings.confirm' outing.pk %}" title="{% trans "confirm" %}"><span class="glyphicon glyphicon-ok"></span></a><a class="btn btn-xs btn-info" href="{% url 'outings.update' outing.pk %}" title="{% trans "update" %}"><span class="glyphicon glyphicon-pencil"></span></a><button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal{{ outing.pk }}" title="{% trans "delete" %}"><span class="glyphicon glyphicon-trash"></span></button>
                  <div class="modal fade" id="deleteModal{{ outing.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ outing.pk }}Label" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h3 class="modal-title" id="deleteModal{{ outing.pk }}Label">{% trans "Delete outing" %}</h3>
                        </div>
                        <div class="modal-body">
                          <p>{% blocktrans with outing.name as name %}Are you sure you want to delete the outing: «{{ name }}» ?{% endblocktrans %}</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                          <a class="btn btn-danger" href="{% url 'outings.delete' outing.pk %}">{% trans "Delete" %}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>{% trans "No drafts" %}</p>
          {% endif %}
        </div>
        <div class="tab-pane" id="finished">
          {% if user_outings_finished %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Began" %}</th>
                <th>{% trans "End planned" %}</th>
                <th>{% trans "Finished" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for outing in user_outings_finished %}
              <tr>
                <td><a href="{% url 'outings.details' outing.pk %}">{{ outing.name }}</a></td>
                <td>{{ outing.beginning }}</td>
                <td>{{ outing.ending }}</td>
                <td></td>
                <td><button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteFinishedModal{{ outing.pk }}" title="{% trans "delete" %}"><span class="glyphicon glyphicon-trash"></span></button>
                  <div class="modal fade" id="deleteFinishedModal{{ outing.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteFinishedModal{{ outing.pk }}Label" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h3 class="modal-title" id="deleteFinishedModal{{ outing.pk }}Label">{% trans "Delete outing" %}</h3>
                        </div>
                        <div class="modal-body">
                          <p>{% blocktrans with outing.name as name %}Are you sure you want to delete the outing: «{{ name }}» ?{% endblocktrans %}</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                          <a class="btn btn-danger" href="{% url 'outings.delete' outing.pk %}">{% trans "Delete" %}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>{% trans "No finished outings" %}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>{% trans "Friends Outings" %}</h3>
    <div id="FriendutingsTab">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#friends_current" data-toggle="tab">{% trans "Current" %}</a></li>
        <li><a href="#friends_draft" data-toggle="tab">{% trans "Draft" %}</a></li>
        <li><a href="#friends_finished" data-toggle="tab">{% trans "Finished" %}</a></li>
      </ul>
      <div id="FriendutingsTabContent" class="tab-content">
        <div class="tab-pane active" id="friends_current">
          {% if friends_outings_confirmed %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Begin" %}</th>
                <th>{% trans "End" %}</th>
                <th width="8%"></th>
              </tr>
            </thead>
            <tbody>
            {% for outing in friends_outings_confirmed %}
              {% if outing.is_running %}
              <tr class="success">
              {% elif outing.is_late %}
              <tr class="warning">
              {% elif outing.is_alerting %}
              <tr class="danger">
              {% else %}
              <tr>
              {% endif %}
                <td>{{ outing.user.get_full_name }}</td>
                <td><a href="{% url 'outings.details' outing.pk %}">{{ outing.name }}</a></td>
                <td>{{ outing.beginning|naturaltime }}</td>
                <td>{{ outing.ending|naturaltime }}</td>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>{% trans "No current outings" %}</p>
          {% endif %}
        </div>
        <div class="tab-pane" id="friends_draft">
          {% if friends_outings_draft %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Begin" %}</th>
                <th>{% trans "End" %}</th>
              </tr>
            </thead>
            <tbody>
            {% for outing in friends_outings_draft %}
              <tr>
                <td>{{ outing.user.get_full_name }}</td>
                <td><a href="{% url 'outings.details' outing.pk %}">{{ outing.name }}</a></td>
                <td>{{ outing.beginning|naturaltime }}</td>
                <td>{{ outing.ending|naturaltime }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>{% trans "No drafts" %}</p>
          {% endif %}
        </div>
        <div class="tab-pane" id="friends_finished">
          {% if friends_outings_finished %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Began" %}</th>
                <th>{% trans "End planned" %}</th>
                <th>{% trans "Finished" %}</th>
              </tr>
            </thead>
            <tbody>
            {% for outing in friends_outings_finished %}
              <tr>
                <td>{{ outing.user.get_full_name }}</td>
                <td><a href="{% url 'outings.details' outing.pk %}">{{ outing.name }}</a></td>
                <td>{{ outing.beginning }}</td>
                <td>{{ outing.ending }}</td>
                <td></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>{% trans "No finished outings" %}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
