<!DOCTYPE html>{% load static %}{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>R.A.S - {% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="{% get_static_prefix %}RandoAmisSecours/css/bootstrap-v3.3.6.min.css" rel="stylesheet" media="screen">
  <style>
    body {
      padding-top: 60px
    }
    {% block style %}{% endblock %}
  </style>
  {% block head %}{% endblock %}
</head>

<body>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{% url 'index' %}" class="navbar-brand">R.A.S.</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="{% block nav-index %}{% endblock %}"><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span> {% trans "Home" %}</a></li>
        <li class="{% block nav-outings %}{% endblock %}"><a href="{% url 'outings.index' %}"><span class="glyphicon glyphicon-tasks"></span> {%trans "Outings" %}</a></li>
        {% if user.is_staff %}
        <li class="{% block nav-reporting %}{% endblock %}"><a href="{% url 'reporting.index' %}"><span class="glyphicon glyphicon-picture"></span> {% trans "Reporting" %}</a></li>
        {% endif %}
        <li class="{% block nav-help %}{% endblock %}"><a href="{% url 'help.index' %}"><span class="glyphicon glyphicon-question-sign"></span> {% trans "Help" %}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class="dropdown {% block nav-account %}{% endblock %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user.get_full_name }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'accounts.profile' %}"><span class="glyphicon glyphicon-cog"></span> {% trans "Profile" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'accounts.logout' %}"><span class="glyphicon glyphicon-off"></span> {% trans "Log out" %}</a></li>
          </ul>
        </li>
        {% else %}
        <li class="{% block nav-login %}{% endblock %}"><a href="{% url 'accounts.login' %}"><span class="glyphicon glyphicon-user"></span> {% trans "Log in" %}</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>

<div class="container">
<ul class="breadcrumb">
{% block breadcrumb %}
{% endblock %}
</ul>

{% block body %}
{% endblock %}

<hr />
<footer>
  <p>&copy; RandoAmisSecours 2016 / ivoire / <a href="https://github.com/ivoire/RandoAmisSecours/releases/tag/v0.6">v0.6</a><span class="pull-right"><a href="https://github.com/ivoire/RandoAmisSecours">{% trans "About" %}</a></span></p>
</footer>
</div>

<script src="{% get_static_prefix %}RandoAmisSecours/js/jquery-v1.12.2.min.js"></script>
<script src="{% get_static_prefix %}RandoAmisSecours/js/bootstrap-v3.3.6.min.js"></script>
{% block script %}
{% endblock %}
</body>
</html>
